.about-me-container {
    margin-bottom: -40vh; /* bring skills section higher. */
}

.about-me-container h1::after { 
    width: 50%; 
    margin-bottom: 3vh;
}

.about-me-container p {
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 60vw;
    margin: 1rem 0 0 0;
}