/* Smaller desktops and tablets (max-width: 1024px) */
@media only screen and (max-width: 1024px) {
    .avatar {
        width: 40vw;
        max-width: 40vw; 
        margin-top: -20vh;
        margin-right: 0vw; 
    }

    .text {
        margin-top: -33vh;
    }

    .text h1 {
        width: 120%;
        font-size: 3.75vw;
        padding-bottom: 3.8vh;
    }

    .typing-effect {
        font-size: 2.5vw;
    }

    .typed-cursor {
        font-size: 2.5vw; 
    }

    .about-me-container {
        margin-bottom: -40h; 
    }
    

    .about-me-container h1::after { 
        width: 9%;
    }
    .about-me-container p {
        font-size: 1.2rem;
        line-height: 1.44;
        max-width: 63vw;
    }

    .skills-container h1::after { 
        width: 8%; 
    }

    .projects-container {
        margin-top: -30vh;
    }

    .projects-container h1::after {
        width: 8%;
    }

    .project-title {
        font-size: 1.3rem;
    }

    .project .icon, .project .btn {
        opacity: 1;
        transform: translateY(0);
    }
    .project .project-buttons {
        opacity: 1;
        transform: translateY(0);
    }

    .icon {
        font-size: 1.5rem;
        margin-top: 25px;
    }
    
    .icon.fas.fa-external-link-alt {
        font-size: 1.3rem;
        position: relative;
        top: -2px;
    }

    .btn {
        font-size: 0.9rem;
        padding: 0.4rem 0.8rem;
    }

    .back-arrow {
        top: 4rem;
        left: 5rem;
        font-size: 2.5rem;
    }
    
}

/* Tablets and small desktops (max-width: 768px) */
@media only screen and (max-width: 768px) {
    .about-me-container {
        margin: 5vh 0 -27.5vh; 
    }

    .project img {
        width: 55%;
    }

    .project-content {
        width: 45%;
    }

    .project-title {
        font-size: 1.1rem;
    }

    .icon {
        font-size: 1.3rem;
    }
    
    .icon.fas.fa-external-link-alt {
        font-size: 1.1rem;
    }


    .btn {
        font-size: 0.7rem;
        padding: 0.3rem 0.7rem;
    }
}

/* Phones (max-width: 480px) */
@media only screen and (max-width: 480px) {
    .avatar {
        width: 40vw;
        max-width: 40vw; 
        margin-top: -35vh;
        margin-right: 3vw; 
    }

    .text {
        margin-top: -36vh;
    }

    .text h1 {
        width: 120%;
        font-size: 5vw;
        padding-bottom: 3.8vh;
    }

    .typing-effect {
        font-size: 2.75vw;
    }

    .typed-cursor {
        font-size: 2.5vw; 
    }

    .landing-icon {
        margin-left: 1vw;
        font-size: 1.7rem; 
        transition: transform 0.2s ease;
    }

    .button {
        padding: 0.25rem 0.5rem;
        border-radius: 10px;
        font-size: 0.7rem;
        margin-left: -3px;
    }

    .about-me-container {
        margin-bottom: -25vh; 
    }    

    .about-me-container h1::after { 
        width: 9%;
    }
    .about-me-container p {
        font-size: 0.8rem;
        line-height: 1.44;
        max-width: 69vw;
    }
    

    .skills-container h1::after { 
        width: 9%; 
    }

    .skill {
        font-size: 0.8rem;
        margin-bottom: 10px;
    }

    .skills {
        gap: 0.6rem;
        margin-top: 1rem;
    }

    .icon-bg {
        width: 50px; 
        height: 50px; 
    }

    .skill img {
        width: 30px; 
        height: 30px; 
    }

    .projects-container {
        margin-top: -15vh; 
    }

    .projects-container h1 {
        margin-bottom: -15rem; 
    }

    .projects {
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .project {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0; 
    }

    .project:nth-child(even) {
        flex-direction: column;
    }

    .project:nth-child(even) .project-content {
        align-items: center; /* align text to the right for even projects */
    }

    .project-title {
        font-size: 1rem;
        margin: 0.5rem 0;
        text-align: center;
    }

    .project img {
        width: 90%; 
        height: auto;
        
    }

    .project-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0.5rem 0;
        padding: 0;
    }

    .project-buttons {
        display: flex;
        justify-content: center;
        margin-top: 0.5rem;
    }

    .btn, .icon {
        margin: 0 0.5rem;
    }


}