
body {
    background-color: #1e1e30; 
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 2rem;
    padding: 0 18vw; 
}

.back-arrow {
    position: absolute;
    top: 4.5rem;
    left: 10rem;
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.project-title {
    margin-top: 4rem; 
    font-size: 2.5rem;
    text-align: left;
    position: relative;
}

.project-title::after {
    content: "";
    display: block;
    width: var(--underline-width); /*var for length of title underline */
    height: 4px;
    background-color: #778899;
    margin-top: 0.5rem;
}


.video-container {
    display: flex;
    justify-content: center;
    margin: 3.5rem 0;
}

.project-video {
    width: 80%;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3)
}


.icons {
    margin-bottom: 7vh;
}

.github-icon {
    color: white;
    font-size: 1.9rem;
    margin-right: 10px;
    transition: transform 0.3s ease;
    display: inline-block;
}

.site-icon {
    color: white;
    font-size: 1.7rem;
    transition: transform 0.3s ease;
    display: inline-block;
}

.github-icon:hover, .site-icon:hover {
    transform: scale(1.2);
}

.description-header, .tech-stack-header, .features-header {
    font-size: 2rem;
    text-align: left;
    position: relative;
    margin-top: 2rem;
}

.description-header::after, .tech-stack-header::after, .features-header::after {
    content: "";
    display: block;
    width: 75px;
    height: 4px;
    background-color: #778899;
    margin-top: 0.5rem;
}

.tech-stack-header::after {
    width: 60px;
}

.features-header::after {
    width: 54px;
}

p {
    max-width: 80%;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    margin-top: 1rem;
}

.tech-stack {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping */
}

.tech {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 1rem;
}

.tech img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}


.tech p {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    font-weight: 700;
    text-align: center;
}

.features-container {
    margin-bottom: 10vh;
}

.feature {
    margin-top: 1.2rem;
}

.feature-bold {
    font-weight: bold;
}
