body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background-color: #1e1e30;
    color: white;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%; /* Use percentage for padding */
}

.text {
    flex: 1;
    position: relative;
    margin-top: -20%; /* Use percentage to move the text higher */
}

.text h1 {
    font-size: 300%; /* Use percentage for font size */
    color: white;
    margin: 0;
}

.typing-effect-wrapper {
    margin-top: 2%; /* Use percentage for margin */
}

.typing-effect {
    font-size: 150%; /* Use percentage for font size */
    color: #ffffff;
    display: inline;
}

.typed-cursor {
    font-size: 150%; /* Ensure the cursor matches the text size */
    display: inline;
    vertical-align: middle; /* Align the cursor vertically with the text */
    line-height: 150%; /* Match the line height to the font size */
}

.avatar {
    width: 40%; /* Use percentage for width */
    max-width: 40%; /* Ensure it scales properly */
    border-radius: 10px;
}
