@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #1e1e30;
    color: white;
    min-height: 100vh; /* min-height to allow body to expand if content is taller */
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    overflow-x: hidden; /* prevent horizontal scrolling */
}
