@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
    font-family: 'Roboto', 'sans-serif';
    margin: 0;
    padding: 0;
    position: relative;
}

.section-nav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 25px;
    margin-right: 12vw;
    z-index: 1000; /* make this section above all others so words are clickable */
}

.section-nav ul {
    list-style: none;
    display: flex;
    gap: 3vw;
    font-size: 2rem;
}

.section-nav a {
    color: white;
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
}

.section-nav a::after{
    content: '';
    position:absolute;
    left: 0;
    bottom: -6px;
    width: 95%;
    height: 4px;
    background-color: #778899;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.section-nav a:hover::after {
    transform: scaleX(1); /* Show the underline on hover */
}



